@model SchoolPortal.Models.Home

@{
	ViewBag.Title = "Home Page";
}

<br />



<div class="row">
	<div class="col-md-6">

		<div class="jumbotron">



			<input type="button" value="View Students" onclick="location.href='@Url.Action("Index", "Student")'" class="btn btn-primary btn-lg" />
		</div>
	</div>


	<div class="col-md-6">
		@if (@Model.Files.Any(f => f.FileType == SchoolPortal.Models.FileType.SchoolPicture))
		{
			<img src="~/File?id=@Model.Files.First(f => f.FileType == SchoolPortal.Models.FileType.SchoolPicture).FileId" alt="schoolpicture" width="200" />
		}

		@*<div class="jumbotron">

				<img src="..." alt="..." class="img-rounded">
			</div>*@
	</div>

</div>