@model IEnumerable<SchoolPortal.Models.Student>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<table class="table table-bordered table-hover">
	<thead>
		<tr>

			<th>First Name</th>
			<th>Last Name</th>

			<th>Gender</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var students in Model)
		{
			<tr>
				<td>@students.FirstName</td>
				<td>@students.Lastname</td>

				<td>@students.Gender.Name</td>

				<td>
					<div class="btn-group">
						<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							Select Action
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>@Html.ActionLink("View Details", "Details", "Student", new { id = students.Id }, null)</li>
							<li><a href="#">Dropdown link</a></li>
							<li><a href="#">Dropdown link</a></li>
							<li><a href="#">Dropdown link</a></li>
						</ul>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>